In [18]:
import pandas as pd
import re
# Sample DataFrame
data = {'col1': ['1 Colors', '2 Colors', '3 Colors'], 'col2': ["[$4.0]", "[$5.0]", "[$6.0]"]}
df = pd.DataFrame(data)

# Convert 'col1' to integer type
df['col1'] = df['col1'].replace(r"Colors", "").str.strip().astype(int)
display(df['col1'])

# Convert 'col2' to string type
# df['col2'] = df['col2'].str.replace(r"[\[\]]", "",regex=True).astype(float)
df['col2'] = df['col2'].str.replace(r"[$", "").str.replace(r"]","").astype(float)
# df['col2'] = re.sub(r"[\[]", "", df['col2'].to_string())
display(df['col2'])

print(df.dtypes)

ValueError: invalid literal for int() with base 10: '1 Colors'

In [100]:
import pandas as pd
import re
# Sample DataFrame
data = {'col1': ['1 Colors', '2 Colors', '3 Colors'], 'col2': ["[$4.0]", "[$5.0]", "[$6.0]"]}
df = pd.DataFrame(data)

# Convert 'col1' to integer type
df['col1'] = df['col1'].str.strip().astype("string")
display(df['col1'])

print(df.dtypes)

0    1 Colors
1    2 Colors
2    3 Colors
Name: col1, dtype: string

col1    string[python]
col2            object
dtype: object

In [97]:
import pandas as pd
# Sample DataFrame
data = {'col1': ['1 Colors', 'warna', '3 Colors'], 'col2': ["$4.0", "$5.0", "unavailable"]}
df = pd.DataFrame(data)
df

# df["Title"] == "Unknown Product" | df["Rating"] == "Invalid Rating" | df['Price'] == "Price Unavailable" :
#         df.drop(df.loc[(df["Title"] == "Unknown Product") | (df["Rating"] == "Invalid Rating") | (df['Price'] == "Price Unavailable")], inplace=True)

if ((df["col1"] == "warna") | (df["col2"] == "unavailable")).any():
    # print(df)
    df.drop(df[(df["col1"] == "warna") | (df["col2"] == "unavailable")].index, inplace=True)
    # df.drop(df[[df["col1"] == "warna", df["col2"] == "unavailable"]], inplace=True)
    # df.drop(df.loc[["warna", "unavailable"]], inplace=True)
    # df.drop(df.loc[df["col1"] == "warna"] | (df["col2"] == "unavailable"), inplace=True)
    print(df)
    
# df[(df["col1"] == "warna") | (df["col2"] == "unavailable")]

       col1  col2
0  1 Colors  $4.0

In [3]:
import pandas as pd
data = pd.read_csv('products.csv', delimiter = ',')

In [11]:
%pip install google-auth google-api-python-client

Collecting google-auth
  Using cached google_auth-2.40.1-py2.py3-none-any.whl.metadata (6.2 kB)
Collecting google-api-python-client
  Using cached google_api_python_client-2.169.0-py3-none-any.whl.metadata (6.7 kB)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\acer\appdata\local\programs\python\python312\lib\site-packages (from google-auth) (5.5.2)
Collecting pyasn1-modules>=0.2.1 (from google-auth)
  Using cached pyasn1_modules-0.4.2-py3-none-any.whl.metadata (3.5 kB)
Collecting rsa<5,>=3.1.4 (from google-auth)
  Using cached rsa-4.9.1-py3-none-any.whl.metadata (5.6 kB)
Collecting httplib2<1.0.0,>=0.19.0 (from google-api-python-client)
  Using cached httplib2-0.22.0-py3-none-any.whl.metadata (2.6 kB)
Collecting google-auth-httplib2<1.0.0,>=0.2.0 (from google-api-python-client)
  Using cached google_auth_httplib2-0.2.0-py2.py3-none-any.whl.metadata (2.2 kB)
Collecting google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0,>=1.31.5 (from google-api-python-client)
  Using cached google_api_core-2.24.2-py3-none-any.whl.metadata (3.0 kB)
Collecting uritemplate<5,>=3.0.1 (from google-api-python-client)
  Using cached uritemplate-4.1.1-py2.py3-none-any.whl.metadata (2.9 kB)
Collecting googleapis-common-protos<2.0.0,>=1.56.2 (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0,>=1.31.5->google-api-python-client)
  Using cached googleapis_common_protos-1.70.0-py3-none-any.whl.metadata (9.3 kB)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<7.0.0,>=3.19.5 in c:\users\acer\appdata\roaming\python\python312\site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0,>=1.31.5->google-api-python-client) (4.25.4)
Collecting proto-plus<2.0.0,>=1.22.3 (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0,>=1.31.5->google-api-python-client)
  Using cached proto_plus-1.26.1-py3-none-any.whl.metadata (2.2 kB)
Requirement already satisfied: requests<3.0.0,>=2.18.0 in c:\users\acer\appdata\roaming\python\python312\site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0,>=1.31.5->google-api-python-client) (2.32.3)
Requirement already satisfied: pyparsing!=3.0.0,!=3.0.1,!=3.0.2,!=3.0.3,<4,>=2.4.2 in c:\users\acer\appdata\roaming\python\python312\site-packages (from httplib2<1.0.0,>=0.19.0->google-api-python-client) (3.1.4)
Collecting pyasn1<0.7.0,>=0.6.1 (from pyasn1-modules>=0.2.1->google-auth)
  Using cached pyasn1-0.6.1-py3-none-any.whl.metadata (8.4 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\acer\appdata\roaming\python\python312\site-packages (from requests<3.0.0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0,>=1.31.5->google-api-python-client) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\acer\appdata\roaming\python\python312\site-packages (from requests<3.0.0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0,>=1.31.5->google-api-python-client) (3.9)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\acer\appdata\roaming\python\python312\site-packages (from requests<3.0.0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0,>=1.31.5->google-api-python-client) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\acer\appdata\roaming\python\python312\site-packages (from requests<3.0.0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0,>=1.31.5->google-api-python-client) (2024.8.30)
Using cached google_auth-2.40.1-py2.py3-none-any.whl (216 kB)
Using cached google_api_python_client-2.169.0-py3-none-any.whl (13.3 MB)
Using cached google_api_core-2.24.2-py3-none-any.whl (160 kB)
Using cached google_auth_httplib2-0.2.0-py2.py3-none-any.whl (9.3 kB)
Using cached httplib2-0.22.0-py3-none-any.whl (96 kB)
Using cached pyasn1_modules-0.4.2-py3-none-any.whl (181 kB)
Using cached rsa-4.9.1-py3-none-any.whl (34 kB)
Using cached uritemplate-4.1.1-py2.py3-none-any.whl (10 kB)
Using cached googleapis_common_protos-1.70.0-py3-none-any.whl (294 kB)
Using cached proto_plus-1.26.1-py3-none-any.whl (50 kB)
Using cached pyasn1-0.6.1-py3-none-any.whl (83 kB)
Installing collected packages: uritemplate, pyasn1, proto-plus, httplib2, googleapis-common-protos, rsa, pyasn1-modules, google-auth, google-auth-httplib2, google-api-core, google-api-python-client
Successfully installed google-api-core-2.24.2 google-api-python-client-2.169.0 google-auth-2.40.1 google-auth-httplib2-0.2.0 googleapis-common-protos-1.70.0 httplib2-0.22.0 proto-plus-1.26.1 pyasn1-0.6.1 pyasn1-modules-0.4.2 rsa-4.9.1 uritemplate-4.1.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [19]:
# from utils.spreadsheet import exportToSpreadsheet

data = {'col1': ['1 Colors', 'warna', '3 Colors'], 'col2': ["$4.0", "$5.0", "unavailable"]}
df = pd.DataFrame(data)
values = [df.columns.values.tolist()] + df.values.tolist()
values

[['col1', 'col2'],
 ['1 Colors', '$4.0'],
 ['warna', '$5.0'],
 ['3 Colors', 'unavailable']]

In [20]:
d = [3, 4]
print(d[1])

4

In [3]:
import pandas as pd
data_dum = pd.DataFrame({
    'Title':['Hand Bag', 'Unknown Product', 'Waist Bag', 'Ransel Bag'],
    'Price': ['$23.00', 'Price Unavailable', '$45.30', '$31.10'],
    'Rating': ['4.3 / 5', '3.8', '2.7 / 5','Invalid Rating'],
    'Number_Color': ['5 Colors', '2 Colors', '4 Colors', '3 Colors'],
    'Size': ['Size: M', 'L', 'S', 'L'],
    'Gender': ['Female', 'Male', 'Gender: Female', 'Male']
})

data_dum

,Title,Price,Rating,Number_Color,Size,Gender
0,Hand Bag,$23.00,4.3 / 5,5 Colors,Size: M,Female
1,Unknown Product,Price Unavailable,3.8,2 Colors,L,Male
2,Waist Bag,$45.30,2.7 / 5,4 Colors,S,Gender: Female
3,Ransel Bag,$31.10,Invalid Rating,3 Colors,L,Male

In [6]:
from utils.transform import transform_data

result = transform_data(data_dum, 16000)
result

,Title,Rating,Number_Color,Size,Gender,Price_in_dollars,Price_in_rupiah
0,Hand Bag,4.3,5,M,Female,23.0,368000
1,Waist Bag,2.7,4,S,Female,45.3,724800

In [7]:
result.loc[0, 'Price_in_rupiah']

368000

In [9]:
int(result.loc[0, 'Price_in_dollars'] * 16000)

368000

In [17]:
expected1 = [4.3, 2.7]
print((result.loc[0, 'Rating'], expected1[0]))
print((result.loc[1, 'Rating'], expected1[1]))

# Cek konversi Number Color
expected2 = [1, 2, 3, 4, 5]
print(result.loc[0, 'Number_Color'], expected2[4])
print(result.loc[0, 'Number_Color'], expected2[4])

# Cek konversi Size
expected3 = ['S', 'M', 'L', 'XL']
print(result.loc[0, 'Size'], expected3[1])
print(result.loc[1, 'Size'], expected3[0])

# Cek konversi Gender
expected4 = ['Male', 'Female']
print(result.loc[0, 'Gender'], expected4[1])
print(result.loc[1, 'Gender'], expected4[1])

# Cek tipe data
print(str(result['Price_in_dollars'].dtype), float)
print(str(result['Rating'].dtype), float)
print(str(result['Number_Color'].dtype), int)

# Cek kolom baru
print('Price_in_dollars', result.columns)
print('Price_in_rupiah', result.columns)
# self.assertNotIn('Price', result.columns)
print('Price', result.columns)

(4.3, 4.3)
(2.7, 2.7)
5 5
5 5
M M
S S
Female Female
Female Female
float64 <class 'float'>
float64 <class 'float'>
int32 <class 'int'>
Price_in_dollars Index(['Title', 'Rating', 'Number_Color', 'Size', 'Gender', 'Price_in_dollars',
       'Price_in_rupiah'],
      dtype='object')
Price_in_rupiah Index(['Title', 'Rating', 'Number_Color', 'Size', 'Gender', 'Price_in_dollars',
       'Price_in_rupiah'],
      dtype='object')
Price Index(['Title', 'Rating', 'Number_Color', 'Size', 'Gender', 'Price_in_dollars',
       'Price_in_rupiah'],
      dtype='object')

In [16]:
for col in result.columns:
    print(col)

Title
Rating
Number_Color
Size
Gender
Price_in_dollars
Price_in_rupiah